@charset "UTf-8";

/*Mobile First*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Tamanhos*/
    --tamanhaRelógio: 350px;
    --tamanhoMeioRelógio: 20px;
}

html, body {
    background-color: var(--branco03);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.mostradorRelógio {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid var(--preto01);
    width: var(--tamanhaRelógio);
    height: var(--tamanhaRelógio);
    background-color: var(--branco06);
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, 0.342);
}

.meioRelógio {
    width: var(--tamanhoMeioRelógio);
    height: var(--tamanhoMeioRelógio);
    background-color: var(--preto01);
    border-radius: 50%;
}