@charset "UTf-8";

/*Mobile First*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Tamanhos*/
    --tamanhoRelógio: 350px;
    --tamanhUmQuartoTamanhoRelógio: calc(((var(--tamanhoRelógio) - 25px) / 3));
}

html, body {
    background-color: var(--branco03);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.mostradorRelógio {
    border-radius: 50%;
    border: 10px solid var(--preto01);
    width: var(--tamanhoRelógio);
    height: var(--tamanhoRelógio);
    background-color: var(--branco06);
}

.traçadosHorários {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ponteirosRelógio {
    position: absolute;
    display: flex;
    justify-content: center;
    rotate: 180deg;
}

.traçoHoras {
    position: absolute;
    background-color: var(--preto01);
    margin: 25px;
    width: 8px;
    height: 30px;
}

.traçoMeiaHora {
    position: absolute;
    background-color: var(--preto01);
    width: 7px;
    height: 25px;
}

#hora0_12 {
    margin-bottom: var(--tamanhoRelógio);
    margin-left: 25px;
    margin-right: 25px;
}

#meiaHora0 {
    transform: rotate(15deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 20px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    /*bottom - left*/
}

#hora1 {
    transform: rotate(30deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 40px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    /*bottom - left*/
}

#meiaHora1 {
    transform: rotate(45deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 105px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio));
    /*bottom - left*/
}

#hora2 {
    transform: rotate(60deg);
    margin-bottom: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    margin-left: calc(var(--tamanhoRelógio) - 40px);
    /*bottom - left*/
}

#meiaHora2 {
    transform: rotate(75deg);
    margin-bottom: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    margin-left: calc(var(--tamanhoRelógio) - 20px);
    /*bottom - left*/
}

#hora3 {
    transform: rotate(90deg);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: var(--tamanhoRelógio);
}

#meiaHora3 {
    transform: rotate(105deg);
    margin-top: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    margin-left: calc(var(--tamanhoRelógio) - 20px);
    /*top - left*/
}

#hora4 {
    transform: rotate(120deg);
    margin-top: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    margin-left: calc(var(--tamanhoRelógio) - 40px);
    /*top - left*/
}

#meiaHora4 {
    transform: rotate(135deg);
    margin-top: calc(var(--tamanhoRelógio) - 105px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio));
    /*top - left*/
}

#hora5 {
    transform: rotate(150deg);
    margin-top: calc(var(--tamanhoRelógio) - 40px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    /*top - left*/
}

#meiaHora5 {
    transform: rotate(165deg);
    margin-top: calc(var(--tamanhoRelógio) - 20px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    /*top - left*/
}

#hora6 {
    margin-top: var(--tamanhoRelógio);
    margin-left: 25px;
    margin-right: 25px;
}

#meiaHora6 {
    transform: rotate(195deg);
    margin-top: calc(var(--tamanhoRelógio) - 20px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    /*top - right*/
}

#hora7 {
    transform: rotate(210deg);
    margin-top: calc(var(--tamanhoRelógio) - 40px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    /*top - right*/
}

#meiaHora7 {
    transform: rotate(225deg);
    margin-top: calc(var(--tamanhoRelógio) - 105px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio));
    /*top - right*/
}

#hora8 {
    transform: rotate(240deg);
    margin-top: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    margin-right: calc(var(--tamanhoRelógio) - 40px);
    /*top - right*/
}

#meiaHora8 {
    transform: rotate(255deg);
    margin-top: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    margin-right: calc(var(--tamanhoRelógio) - 20px);
    /*top - right*/
}

#hora9 {
    transform: rotate(90deg);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: var(--tamanhoRelógio);
}

#meiaHora9 {
    transform: rotate(285deg);
    margin-bottom: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    margin-right: calc(var(--tamanhoRelógio) - 20px);
    /*bottom - right*/
}

#hora10 {
    transform: rotate(300deg);
    margin-bottom: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    margin-right: calc(var(--tamanhoRelógio) - 40px);
    /*bottom - right*/
}

#meiaHora10 {
    transform: rotate(315deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 105px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio));
    /*bottom - right*/
}

#hora11 {
    transform: rotate(330deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 40px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    /*bottom - right*/
}

#meiaHora11 {
    transform: rotate(345deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 20px);
    margin-right: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 150px);
    /*bottom - right*/
}


.ponteiroSegundos {
    position: absolute;
    width: 2px;
    height: 165px;
    background-color: red;
    rotate: 350deg;
    transform-origin: 0% 0%;
}

.ponteiroMinutos {
    position: absolute;
    width: 6px;
    height: 150px;
    background-color: var(--preto01);
    rotate: 250deg;
    transform-origin: 0% 0%;

}

.ponteiroHoras {
    position: absolute;
    width: 10px;
    height: 140px;
    background-color: var(--preto01);
    transform-origin: 50% 0%;
}

.meioRelógio {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--preto01);
    border-radius: 50%;
}