@charset "UTf-8";

/*Mobile First*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Tamanhos*/
    --tamanhoRelógio: 350px;
    --tamanhUmQuartoTamanhoRelógio: calc(((var(--tamanhoRelógio) - 25px) / 3));
    --tamanhoMeioRelógio: 20px;
}

html, body {
    background-color: var(--branco03);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.mostradorRelógio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--preto01);
    width: var(--tamanhoRelógio);
    height: var(--tamanhoRelógio);
    background-color: var(--branco06);
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, 0.342);
}

.traçoHoras {
    position: absolute;
    background-color: var(--preto01);
    margin: 25px;
    width: 8px;
    height: 30px;
}

.traçoMeiaHora {
    position: absolute;
    background-color: var(--preto01);
    width: 6px;
    height: 20px;
}

#hora0_12 {
    margin-bottom: var(--tamanhoRelógio);
    margin-left: 25px;
    margin-right: 25px;
    /*bottom 350px - left 25px*/
}

#hora1 {
    transform: rotate(30deg);
    margin-bottom: calc(var(--tamanhoRelógio) - 40px);
    margin-left: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    /*bottom 75% left 50%*/
}

#hora2 {
    transform: rotate(60deg);
    margin-bottom: calc(var(--tamanhoRelógio) - var(--tamanhUmQuartoTamanhoRelógio) - 50px);
    margin-left: calc(var(--tamanhoRelógio) - 40px);
    /*bottom 50% left 75%*/
}

#hora3 {
    transform: rotate(90deg);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: var(--tamanhoRelógio);
    /*bottom 25px - left 350px*/
}

#hora4 {
    transform: rotate(120deg);
    margin-top: ;
    margin-left: ;
    /*top - left*/
}

#hora5 {
    transform: rotate(150deg);
    margin-top: ;
    margin-left: ;
    /*top  - left*/
}

#hora6 {
    margin-top: var(--tamanhoRelógio);
    margin-left: 25px;
    margin-right: 25px;
}

#hora9 {
    transform: rotate(90deg);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: var(--tamanhoRelógio);
}


.meioRelógio {
    width: var(--tamanhoMeioRelógio);
    height: var(--tamanhoMeioRelógio);
    background-color: var(--preto01);
    border-radius: 50%;
}