@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Tamanhos*/
    --tamanhoRelógio: 350px;
    --tamanhUmQuartoTamanhoRelógio: calc(((var(--tamanhoRelógio) - 25px) / 3));
}

html {
    background-color: black;
}

body {
    display: none;
}

@media (min-width:320px)  {
    body {
        display: block;
    }
    
    main {
        height: 100vh;
        background-color: var(--preto04);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .mostradorRelógio {
        width: 300px;
        height: 300px;
        background-color: var(--preto06);
        border: 10px solid var(--preto01);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .traço {
        width: 300px;
        height: 10px;
        position: absolute;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        
    }
    
    .traçoHora {
        width: 25px;
        height: 100%;
        background-color: var(--preto01);
    }

    .traçoMeiaHora {
        width: 15px;
        height: 70%;
        background-color: var(--preto01);
    }
    
    #h1 {
        transform: rotate(90deg);
    }

    #h2 {
        transform: rotate(30deg);
    }

    #h3 {
        transform: rotate(-30deg);
    }

    #h4 {
        transform: rotate(60deg);
    }

    #h5 {
        transform: rotate(-60deg);
    }

    #meiaH1 {
        transform: rotate(15deg);
    }

    #meiaH2 {
        transform: rotate(45deg);
    }
    
    #meiaH3 {
        transform: rotate(75deg);
    }

    #meiaH4 {
        transform: rotate(-15deg);
    }

    #meiaH5 {
        transform: rotate(-45deg);
    }
    
    #meiaH6 {
        transform: rotate(-75deg);
    }

    .meioRelógio {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: var(--preto01);
        border-radius: 50%;
    }
    
}

@media (min-width:480px)  {
    .mostradorRelógio {
        width: 480px;
        height: 480px;
    }

    .traço {
        width: 480px;
        height: 15px;
    }

    .traçoHora {
        width: 35px;
    }

    .traçoMeiaHora {
        width: 25px;
    }

    .meioRelógio {
        width: 30px;
        height: 30px;
    }
}

@media (min-width:801px)  {
    .traço {
        width: 580px;
        height: 18px;
    }

    .traçoHora {
        width: 40px;
    }

    .traçoMeiaHora {
        width: 30px;
    }
    
    .mostradorRelógio {
        width: 580px;
        height: 580px;
    }
}
